.blank-state
  .blank-state-icon
    = custom_icon("add_new_user", size: 50)
  .blank-state-body
    %h3.blank-state-title
      添加人员
    %p.blank-state-text
      添加你的团队成员或者其它人到 GitLab。
    = link_to new_admin_user_path, class: "btn btn-new" do
      新建用户

.blank-state
  .blank-state-icon
    = custom_icon("configure_server", size: 50)
  .blank-state-body
    %h3.blank-state-title
      配置 GitLab
    %p.blank-state-text
      对你的 GitLab 服务器的设置进行调整。
    = link_to admin_root_path, class: "btn btn-new" do
      设置

- if current_user.can_create_group?
  .blank-state
    .blank-state-icon
      = custom_icon("add_new_group", size: 50)
    .blank-state-body
      %h3.blank-state-title
        创建一个群组
      %p.blank-state-text
        使用群组管理项目和人员是非常好的方式。
      = link_to new_group_path, class: "btn btn-new" do
        新建群组
