= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.check_box :auto_devops_enabled, class: 'form-check-input'
          = f.label :auto_devops_enabled, class: 'form-check-label' do
            为项目默认启用自动集成部署(Auto DevOps)
        .form-text.text-muted
          这将会根据所定义的 CI/CD 配置来自动构建、测试以及部署应用。
          = link_to icon('question-circle'), help_page_path('topics/autodevops/index.md')
    .form-group.row
      = f.label :auto_devops_domain, class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_field :auto_devops_domain, class: 'form-control', placeholder: 'domain.com'
        .form-text.text-muted
          = s_("AdminSettings|Specify a domain to use by default for every project's Auto Review Apps and Auto Deploy stages.")
    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.check_box :shared_runners_enabled, class: 'form-check-input'
          = f.label :shared_runners_enabled, class: 'form-check-label' do
            为新的项目启用共享的 Runner
    .form-group.row
      = f.label :shared_runners_text, class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_area :shared_runners_text, class: 'form-control', rows: 4
        .form-text.text-muted Markdown 已启用
    .form-group.row
      = f.label :max_artifacts_size, '最大结果尺寸 (MB)', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.number_field :max_artifacts_size, class: 'form-control'
        .form-text.text-muted
          设置每个任务的运行结果的最大文件大小
          = link_to icon('question-circle'), help_page_path('user/admin_area/settings/continuous_integration', anchor: 'maximum-artifacts-size')
    .form-group.row
      = f.label :default_artifacts_expire_in, '默认结果过期时间', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_field :default_artifacts_expire_in, class: 'form-control'
        .form-text.text-muted
          设置每个任务的运行结果的默认过期时间。
          0 for unlimited.
          = link_to icon('question-circle'), help_page_path('user/admin_area/settings/continuous_integration', anchor: 'default-artifacts-expiration')

  = f.submit _('Save changes'), class: "btn btn-success"
