= form_for @application_setting, url: admin_application_settings_path(anchor: 'js-email-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      .form-check
        = f.check_box :email_author_in_body, class: 'form-check-input'
        = f.label :email_author_in_body, class: 'form-check-label' do
          在通知邮件正文包含作者名称
        .form-text.text-muted
          有些邮件服务器不支持重写邮件发送人名称功能。
          开启此选项将在邮件正文中提供问题、合并请求和评论作者的名称，
          否则只试图重写邮件发送人为作者。
    .form-group
      .form-check
        = f.check_box :html_emails_enabled, class: 'form-check-input'
        = f.label :html_emails_enabled, class: 'form-check-label' do
          启用 HTML 邮件
        .form-text.text-muted
          默认情况下，GitLab 同时以 HTML 和纯文本格式发送电子邮件，
          所以邮件客户端可以选择使用什么格式。
          如果您只想以纯文本格式发送电子邮件，请禁用此选项。
    .form-group
      = f.label :commit_email_hostname, _('Custom hostname (for private commit emails)'), class: 'label-bold'
      = f.text_field :commit_email_hostname, class: 'form-control'
      .form-text.text-muted
        - commit_email_hostname_docs_link = link_to _('Learn more'), help_page_path('user/admin_area/settings/email', anchor: 'custom-private-commit-email-hostname'), target: '_blank'
        = _("This setting will update the hostname that is used to generate private commit emails. %{learn_more}").html_safe % { learn_more: commit_email_hostname_docs_link }

  = f.submit '保存修改', class: "btn btn-success"
