= form_for @application_setting, url: admin_application_settings_path, html: { class: 'form-horizontal fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :mirror_available, '启用镜像配置', class: 'control-label col-sm-2'
      .col-sm-10
        .checkbox
          = f.label :mirror_available do
            = f.check_box :mirror_available
            允许项目设置镜像
        %span.help-block
          如果禁用该选项，只有管理员才可以在项目中设置镜像。
          = link_to icon('question-circle'), help_page_path('workflow/repository_mirroring')

  = f.submit _('Save changes'), class: "btn btn-success"
