= form_for @application_setting, url: admin_application_settings_path, html: { class: 'form-horizontal fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :signup_enabled do
            = f.check_box :signup_enabled
            启用注册
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :send_user_confirmation_email do
            = f.check_box :send_user_confirmation_email
            注册时发送确认邮件
    .form-group
      = f.label :domain_whitelist, '允许注册的域名白名单', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_area :domain_whitelist_raw, placeholder: 'domain.com', class: 'form-control', rows: 8
        .help-block 进允许邮件地址域名属于所列出的域名的用户注册。可以使用通配符。每一条记录用换行来分割。如: domain.com, *.domain.com
    .form-group
      = f.label :domain_blacklist_enabled, '域名黑名单', class: 'control-label col-sm-2'
      .col-sm-10
        .checkbox
          = f.label :domain_blacklist_enabled do
            = f.check_box :domain_blacklist_enabled
            启用注册域名黑名单
    .form-group
      .col-sm-offset-2.col-sm-10
        .radio
          = label_tag :blacklist_type_file do
            = radio_button_tag :blacklist_type, :file
            .option-title
              上传黑名单列表
        .radio
          = label_tag :blacklist_type_raw do
            = radio_button_tag :blacklist_type, :raw, @application_setting.domain_blacklist.present? || @application_setting.domain_blacklist.blank?
            .option-title
              手动输入黑名单
    .form-group.blacklist-file
      = f.label :domain_blacklist_file, '黑名单文件', class: 'control-label col-sm-2'
      .col-sm-10
        = f.file_field :domain_blacklist_file, class: 'form-control', accept: '.txt,.conf'
        .help-block 使用黑名单列表中的域名的邮件不允许注册。可以使用通配符。每一条记录用换行来分割。
    .form-group.blacklist-raw
      = f.label :domain_blacklist, '不允许注册的黑名单', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_area :domain_blacklist_raw, placeholder: 'domain.com', class: 'form-control', rows: 8
        .help-block 使用黑名单列表中的域名的邮件不允许注册。可以使用通配符。每一条记录用换行来分割。如: domain.com, *.domain.com

    .form-group
      = f.label :after_sign_up_text, class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_area :after_sign_up_text, class: 'form-control', rows: 4
        .help-block 启用 Markdown

  = f.submit _("Save changes"), class: "btn btn-success"
