%p
  经过验证检查后， 您的 Gitlab 自定义域名已被
  %strong 禁用。
  这意味着您位于 #{link_to @domain.url, @domain.url} 的内容将无法被访问。
%p
  项目: #{link_to @project.human_name, project_url(@project)}
%p
  域名: #{link_to @domain.domain, project_pages_domain_url(@project, @domain)}
%p
  If this domain has been disabled in error, please follow
  = link_to 'these instructions', help_page_url('user/project/pages/custom_domains_ssl_tls_certification/index.md', anchor: '4-verify-the-domains-ownership')
  to verify and re-enable your domain.
= render 'removal_notification'
